</style>
    /* IE8 alert -- Use the following CSS code if you want to use data attributes for inserting your icons */
    [data-icon]:before {
        font-family: 'FontAwesome';
        content: attr(data-icon);
        speak: none;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
</style>
